input[type="range"] {
  -webkit-appearance: none;  /* Remove default styles for Webkit browsers (Chrome, Safari) */
  -moz-appearance: none;     /* Remove default styles for Firefox */
  appearance: none;          /* For other browsers */
  width: 100%;               /* Full width */
  height: 8px;              /* Track height */
  background: black;       /* Light grey color for track */
  border-radius: 5px;       /* Rounded corners */
  cursor: pointer;          /* Pointer cursor when hovering */
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  background: #ff5722;       /* Orange color for thumb */
  border-radius: 50%;        /* Round thumb */
  border: none;
  cursor: grab;              /* Cursor when hovering over the thumb */
}


textarea:focus{
  outline: none !important;
}


.navbar{
background: #000 !important;
}

.response-card{
  background: #fff !important ;
  color: #000 !important;
}